Xenithpay Template.json
{
  "name": "Xenithpay Template",
  "nodes": [
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1056,
        704
      ],
      "id": "df3589c2-338b-4e00-a9c7-bad778b6ba88",
      "name": "Crypto: Generate Payin Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals: Get Payin Constants').item.json.constants.xenithpayEndpoint }}/v1/payins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        704
      ],
      "id": "5d1a8da8-9e72-4d68-9926-88e65a91e3e6",
      "name": "HTTP: Create Xenith Payin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35d36342-76e4-4242-8897-52333c22f746",
              "leftValue": "={{ $json.paymentMethod=== \"QR_CODE\" }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        704
      ],
      "id": "5d3f0b6c-5f7e-45d9-bda6-e83d62489b43",
      "name": "Check: Has QRIS Payment Option?"
    },
    {
      "parameters": {
        "url": "https://api.qrserver.com/v1/create-qr-code/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "size",
              "value": "400x400"
            },
            {
              "name": "data",
              "value": "={{ $json.paymentCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        640
      ],
      "id": "4af05d01-7168-4420-a78d-88d70b8fc821",
      "name": "HTTP: Generate QRIS Image",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payin Requests\n * \n * Menyusun request body untuk pembuatan payin ke XenithPay API.\n * \n * Input:\n *   - Webhook -> initiated_amount, phone_number, referenceCode, email, customerName, description\n *   - Postgres: Get Payment Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payins\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payin Callback'\n *     yaitu /webhook/xenith-payin-sandbox. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payin tidak akan berjalan.\n *   - Atur callbackUrl, redirectUrl, dan xenithpayEndpoint via credential 'WeselAja Global Variables'\n * \n * Webhook URL di N8N (node Webhook: Xenith Payin Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payin-sandbox\n *   - Production URL : http://<n8n-host>/webhook/xenith-payin-sandbox\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\n// Susun request body dari data form dan payment channel DB\nconst body = {\n  initiatedAmount: $('Webhook: Create Invoice').first().json.query.initiated_amount,\n  currency: 'IDR',\n  paymentMethod: $input.first().json.method,\n  paymentChannel: $input.first().json.channel,\n  customerPhoneNumber: $('Webhook: Create Invoice').first().json.query.phone_number,\n  referenceCode: $('Webhook: Create Invoice').first().json.query.referenceCode,\n  customerReference: $('Webhook: Create Invoice').first().json.query.email,\n  customerName: $('Webhook: Create Invoice').first().json.query.customerName,\n  description: $('Webhook: Create Invoice').first().json.query.description,\n  // callbackUrl harus menggunakan Production URL (/webhook/)\n  callbackUrl: $('Globals: Get Payin Constants').first().json.constants.callbackUrl,\n  redirectUrl: $('Globals: Get Payin Constants').first().json.constants.redirectUrl,\n};\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst method = \"POST\";\nconst uri = \"/v1/payins\";\nconst timestamp = new Date().toISOString();\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {\n  json:{signaturePayload, timestamp, body}\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        704
      ],
      "id": "b496440a-5223-41cc-b4e2-3ef4ae333dd8",
      "name": "Code: Build Xenith Payin Requests"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        832,
        704
      ],
      "id": "41d9d7da-a66a-4e50-b49e-3c0850391657",
      "name": "Crypto: Create Xenith Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Invoice\n\n## Prasyarat\n- Install community node **n8n-nodes-globals**\n- Setup credential **WeselAja Global Variables** (Tipe: Global Constants Api). Set format ke **Key-value pairs**, lalu isi:\n  `xenithpayEndpoint=https://openapi.sandbox.xenithpay.com`\n  `callbackUrl=https://<ur_n8n_anda>/webhook/xenith-payin-sandbox`\n  `redirectUrl=https://www.weselaja.com/`\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payment_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payment_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payment_channels_rows.sql\n\n## Alur\nWebhook (GET) > Globals: Get Payin Constants > Postgres: Get Payment Channel > Code: Build Request > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payin > Check QRIS > Email Invoice\n\n## Input (GET Query Parameters)\n- `customerName`: Nama customer\n- `email`: Email tujuan pengiriman invoice (juga dipakai sebagai customerReference)\n- `initiated_amount`: Nominal pembayaran dalam IDR (contoh: 50000)\n- `paymentName`: Nama metode pembayaran, harus sesuai kolom `name` di tabel `payment_channels` (contoh: QRIS, VA BANK MANDIRI)\n- `phone_number`: Nomor telepon customer\n- `referenceCode`: Kode referensi unik transaksi\n- `description`: Deskripsi/keterangan transaksi\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-invoice?customerName=John&email=john@mail.com&initiated_amount=50000&paymentName=QRIS&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n- **Production:** `GET /webhook/create-invoice?customerName=John&email=john@mail.com&initiated_amount=50000&paymentName=QRIS&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payins`\n- **Production:** `https://openapi.xenithpay.com/v1/payins`\nGanti Base URL via credential `WeselAja Global Variables` saat pindah ke production.\n",
        "height": 880,
        "width": 2444
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        16
      ],
      "typeVersion": 1,
      "id": "8e195b45-28af-4af0-9e20-d5eef4510ea7",
      "name": "Note: Create Invoice Flow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payment_channels",
          "mode": "list",
          "cachedResultName": "payment_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Webhook: Create Invoice').item.json.query.paymentName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        704
      ],
      "id": "7022976b-c8ff-4f0b-8f32-910854fe5ee5",
      "name": "Postgres: Get Payment Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.customerReference }}",
        "subject": "=Invoice Pembayaran • {{ $json.customerName }} • Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color:#f6f6f6; padding:20px;\">\n  \n  <div style=\"max-width:600px; margin:auto; background:#ffffff; padding:24px; border-radius:10px;\">\n    \n    <h2 style=\"color:#333; margin-bottom:5px;\">Invoice</h2>\n    <p style=\"color:#777; font-size:14px;\">Detail transaksi Anda</p>\n\n    <!-- ID Transaksi + keterangan -->\n    <div style=\"margin-top:10px;\">\n      <p style=\"font-size:13px; color:#999; margin:0;\">\n        Transaction ID: <strong>{{$json.id}}</strong>\n      </p>\n      <p style=\"font-size:12px; color:#bbb; margin-top:3px;\">\n        Gunakan ID ini untuk simulate payin di environment sandbox.\n      </p>\n    </div>\n\n    <hr style=\"margin:20px 0;\">\n\n    <p><strong>Customer:</strong> {{$json.customerName}}</p>\n\n    <p><strong>Payment Channel:</strong> \n      {{ $('Postgres: Get Payment Channel').item.json.name }}\n    </p>\n\n    <table style=\"width:100%; border-collapse:collapse; margin-top:20px;\">\n      <tr>\n        <td style=\"padding:10px 0;\">Amount</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;\">Fee</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.feeAmount || 0)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0; border-top:1px solid #eee;\"><strong>Total</strong></td>\n        <td style=\"text-align:right; border-top:1px solid #eee;\">\n          <strong>\n            Rp {{ new Intl.NumberFormat('id-ID').format(\n              Number($json.initiatedAmount) + Number($json.feeAmount || 0)\n            ) }}\n          </strong>\n        </td>\n      </tr>\n    </table>\n\n    <!-- Conditional Payment -->\n    <div style=\"text-align:center; margin-top:20px;\">\n      \n      {{\n        $json.paymentChannel?.toUpperCase() === 'QRIS'\n        ? `<div>\n            <p style=\"font-size:14px; color:#555; margin-bottom:10px;\">\n              Scan QRIS untuk pembayaran\n            </p>\n            <img src=\"cid:data\" alt=\"QRIS\" style=\"max-width:250px; width:100%; border-radius:8px;\" />\n          </div>`\n        : `<div>\n            <p style=\"font-size:14px; color:#555; margin-bottom:8px;\">\n              Kode Pembayaran\n            </p>\n            <p style=\"font-size:20px; font-weight:bold; letter-spacing:2px;\">\n              ${$json.paymentCode || '-'}\n            </p>\n          </div>`\n      }}\n\n    </div>\n\n    <div style=\"margin-top:20px;\">\n      <strong>Description:</strong>\n      <p style=\"margin-top:5px; color:#555;\">\n        {{$json.description || '-'}}\n      </p>\n    </div>\n\n    <hr style=\"margin:25px 0;\">\n\n    <p style=\"font-size:14px; color:#666;\">\n      Terima kasih atas transaksi Anda.\n    </p>\n\n  </div>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1952,
        704
      ],
      "id": "095c74d9-aa79-4431-89f7-598be7228128",
      "name": "Email: Send Invoice Payment Options",
      "webhookId": "520bc1c5-2a76-4e78-b23f-98113fc8dcc6",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Simulate Payin\n\n## Alur\nWebhook (GET) > Code: Build Simulate Payload > Crypto: Sign > HTTP: Simulate Transaction\n\n## Input (GET Query Parameters)\n- `payin_id`: Transaction ID yang didapat dari response Create Invoice (dari email invoice)\n- `transaction_status`: Status simulasi — `SUCCESS`, `FAILED`, atau `EXPIRED`\n\n## Contoh Request\n- **Test:** `GET /webhook-test/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n- **Production:** `GET /webhook/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/simulator/transaction`\n- **Production:** ❌ Tidak tersedia (simulator hanya untuk sandbox)\n\n## Status yang Didukung\n- **SUCCESS** — Pembayaran berhasil\n- **FAILED** — Pembayaran gagal\n- **EXPIRED** — Pembayaran kedaluwarsa\n",
        "height": 576,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        960
      ],
      "typeVersion": 1,
      "id": "2f010ba3-ea34-4a08-bcb0-d5c1dbfb656d",
      "name": "Note: Simulate Payin Flow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Simulate Payin Payload\n * \n * Menyusun request body untuk simulasi transaksi payin di sandbox.\n * \n * Input:\n *   - Webhook (GET) -> query.payin_id, query.transaction_status\n * \n * Output:\n *   - timestamp: ISO timestamp untuk header request\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - body: object request body untuk POST /v1/simulator/transaction\n * \n * Status yang didukung: SUCCESS, FAILED, EXPIRED\n */\n\nconst method = \"POST\"\nconst uri = \"/v1/simulator/transaction\"\nconst timestamp = new Date().toISOString()\n\n// Susun body simulasi dengan status yang dipilih dari query parameter\nconst body = {\n    transactionId: $input.first().json.query.payin_id,\n    transactionCategory: \"payins\",\n    transactionStatus: $input.first().json.query.transaction_status,\n}\n\n// Susun signature payload sesuai format XenithPay\nconst bodyString = JSON.stringify(body)\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${bodyString}`;\n\nreturn {timestamp, signaturePayload, body};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        1344
      ],
      "id": "f2b7ccc2-ddba-48b1-875a-5fb4fdb9e237",
      "name": "Code: Build Simulate Payin Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.sandbox.xenithpay.com/v1/simulator/transaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1344
      ],
      "id": "861d7760-935e-49e0-89ba-ed76d874f935",
      "name": "HTTP: Simulate Xenith Payin Transaction",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        768,
        1344
      ],
      "id": "ba6783d7-1b21-4f1e-b972-46834b373210",
      "name": "Crypto: Create Simulate Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "simulate-payin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        1344
      ],
      "id": "ed50728a-862a-40b1-bf2a-90ce4ab1435b",
      "name": "Webhook: Simulate Payin",
      "webhookId": "ce9d05e5-fd1d-4d90-b40f-12de93f1cc54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payin-sandbox",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        1968
      ],
      "id": "9dc33c8a-b905-41b6-b18d-6101e7349550",
      "name": "Webhook: Xenith Payin Callback",
      "webhookId": "9670673a-82dc-48ca-8afc-001d2e970eca"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Signature Validation Payload (Payin Callback)\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payin Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payin-sandbox\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1968
      ],
      "id": "24d370fb-0064-4718-817d-388d44d0ab31",
      "name": "Code: Build Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        1968
      ],
      "id": "6727340b-452b-4045-b0a4-ce4d83021929",
      "name": "Check: Xenith Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        688,
        1968
      ],
      "id": "483057ba-02ed-42c3-ad9e-e97b1a6e9cbd",
      "name": "Crypto: Create Expected Xenith Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payin\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payin-sandbox`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payin-sandbox`\n⚠️ callbackUrl di Create Invoice HARUS menggunakan **Production URL** (`/webhook/`)\n\n## Email Notifikasi\nEmail dikirim berdasarkan status: SUCCESS (hijau), FAILED (merah), EXPIRED (kuning)\n",
        "height": 576,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        1600
      ],
      "typeVersion": 1,
      "id": "aaf1fad5-b530-4005-925c-473bfd30760e",
      "name": "Note: Callback Payin Flow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payout Payload\n * \n * Menyusun request body untuk pembuatan payout (disbursement) ke XenithPay API.\n * \n * Input:\n *   - Webhook (GET) -> query.amount, query.destinationPayoutAccount, query.destinationPayoutAccountName, query.email\n *   - Postgres: Get Payout Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payouts\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payout Callback'\n *     yaitu /webhook/xenith-payout-sandbox. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payout tidak akan berjalan.\n *   - Atur callbackUrl, redirectUrl, dan xenithpayEndpoint via credential 'WeselAja Global Variables'\n * \n * Webhook URL di N8N (node Webhook: Xenith Payout Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payout-sandbox\n *   - Production URL : http://<n8n-host>/webhook/xenith-payout-sandbox\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\nconst method = \"POST\";\nconst uri = \"/v1/payouts\";\nconst timestamp = new Date().toISOString();\n\n// Susun request body dari data webhook query dan payout channel DB\nconst body = {\n  initiatedAmount: $('Webhook: Create Payout').first().json.query.amount,\n  currency: \"IDR\",\n  destinationPayoutMethod: $input.first().json.method,\n  destinationPayoutChannel: $input.first().json.channel,\n  destinationPayoutAccount: $('Webhook: Create Payout').first().json.query.destinationPayoutAccount,\n  destinationPayoutAccountName: $('Webhook: Create Payout').first().json.query.destinationPayoutAccountName,\n  referenceCode: \"REF-TEST-001\",\n  customerReference: $('Webhook: Create Payout').first().json.query.email,\n  description: \"Payout merchant TEST MERCHANT 2026-01-01\",\n  // callbackUrl harus menggunakan Production URL (/webhook/), bukan Test URL (/webhook-test/)\n  // dan harus cocok dengan path di node 'Webhook: Xenith Payout Callback'\n  callbackUrl: $('Globals: Get Payout Constants').first().json.constants.callbackUrl.replace('xenith-payin-sandbox', 'xenith-payout-sandbox')\n}\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {json:{signaturePayload,timestamp,body}}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        2736
      ],
      "id": "a0425c7f-1aa8-440e-a285-f7acb8c90b88",
      "name": "Code: Build Xenith Payout Payload"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1472,
        2736
      ],
      "id": "590c74a5-eb3e-457f-b4ea-8e69af30b9d0",
      "name": "Crypto: Generate Payout Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals: Get Payout Constants').item.json.constants.xenithpayEndpoint }}/v1/payouts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        2736
      ],
      "id": "c7406d3d-50c2-4925-a0e3-598e7d7acd34",
      "name": "HTTP: Create Xenith Payout",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $('Code: Build Xenith Payout Payload').first().json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1248,
        2736
      ],
      "id": "4fa6bc56-3ad0-4777-9266-7217ab6256cd",
      "name": "Crypto: Create Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "create-payout",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        2736
      ],
      "id": "fccbe3d9-4e42-4541-b391-cf8956128c6b",
      "name": "Webhook: Create Payout",
      "webhookId": "019974d9-668d-4d6a-9550-a08d08e9fd0e"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payout_channels",
          "mode": "list",
          "cachedResultName": "payout_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Webhook: Create Payout').item.json.query.payoutName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        2736
      ],
      "id": "98e9f556-ddcf-4a3f-b94e-f5950fea52e9",
      "name": "Postgres: Get Payout Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payout-sandbox",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        3232
      ],
      "id": "5b965ddf-f57f-4c92-9521-805271306bca",
      "name": "Webhook: Xenith Payout Callback",
      "webhookId": "02f343a7-7616-4243-872c-1d75671fe5e5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Payout Signature Validation Payload\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request payout menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payout Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payout-sandbox\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        3232
      ],
      "id": "62b46239-2840-413c-ac90-687748a847dc",
      "name": "Code: Build Payout Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "febd2790-ac7c-4a10-b7ec-179414c02bd3",
              "leftValue": "={{ $json.body.data.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        3232
      ],
      "id": "7ada16e5-1fb1-4b93-85bf-63639bf1762b",
      "name": "Check: Xenith Payout Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        688,
        3232
      ],
      "id": "97db259c-9fe9-40f6-8359-1c28c3cbbb7e",
      "name": "Crypto: Create Expected Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payout\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid + SUCCESS? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payout-sandbox`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payout-sandbox`\n⚠️ callbackUrl di Create Payout HARUS menggunakan **Production URL** (`/webhook/`)\n",
        "height": 448,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        2992
      ],
      "typeVersion": 1,
      "id": "95fa001d-711f-423e-a96a-41b4408ce369",
      "name": "Note: Callback Payout Flow"
    },
    {
      "parameters": {
        "content": "# Payout\n\n## Prasyarat\n- Install community node **n8n-nodes-globals**\n- Setup credential **WeselAja Global Variables** (Tipe: Global Constants Api). Set format ke **Key-value pairs**, lalu isi:\n  `xenithpayEndpoint=https://openapi.sandbox.xenithpay.com`\n  `callbackUrl=https://<ur_n8n_anda>/webhook/xenith-payin-sandbox`\n  `redirectUrl=https://www.weselaja.com/`\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payout_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payout_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payout_channels_rows.sql\n\n## Alur\nWebhook (GET) > Globals: Get Payout Constants > Postgres: Get Payout Channel > Code: Build Payload > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payout\n\n## Input (GET Query Parameters)\n- `amount`: Nominal penarikan dalam IDR (contoh: 100000)\n- `payoutName`: Nama metode payout, harus sesuai kolom `name` di tabel `payout_channels` (contoh: Bank Central Asia (BCA), DANA)\n- `destinationPayoutAccount`: Nomor rekening/akun tujuan\n- `destinationPayoutAccountName`: Nama pemilik rekening tujuan\n- `email`: Email untuk notifikasi status payout (juga dipakai sebagai customerReference)\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-payout?amount=100000&payoutName=DANA&destinationPayoutAccount=08123456789&destinationPayoutAccountName=John&email=john@mail.com`\n- **Production:** `GET /webhook/create-payout?amount=100000&payoutName=DANA&destinationPayoutAccount=08123456789&destinationPayoutAccountName=John&email=john@mail.com`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payouts`\n- **Production:** `https://openapi.xenithpay.com/v1/payouts`\nGanti Base URL via credential `WeselAja Global Variables` saat pindah ke production.\n",
        "height": 688,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        2240
      ],
      "typeVersion": 1,
      "id": "d7688cde-e1c7-43cc-812d-f1545e0945f7",
      "name": "Note: Payout Flow"
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.body.data.customerReference }}",
        "subject": "=Status Pembayaran Invoice {{ $json.body.data.customerName }} - {{ $json.body.data.status }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width:600px){\n.container{ width:100% !important; border-radius:0 !important; }\n.padding{ padding:20px 16px !important; }\n.amount{ font-size:28px !important; }\n.header{ font-size:18px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr><td align=\"center\">\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr><td style=\"background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n{{ $json.body.data.status === 'SUCCESS' ? '✅ Pembayaran Berhasil' : $json.body.data.status === 'EXPIRED' ? '⏰ Pembayaran Kedaluwarsa' : '❌ Pembayaran Gagal' }}\n</div>\n</td></tr>\n\n<!-- CONTENT -->\n<tr><td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\n{{ $json.body.data.status === 'SUCCESS' ? 'Pembayaran Anda telah berhasil diproses.' : $json.body.data.status === 'EXPIRED' ? 'Pembayaran Anda telah melewati batas waktu dan dinyatakan kedaluwarsa.' : 'Pembayaran Anda gagal diproses. Silakan coba lagi.' }}\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr><td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">Jumlah Pembayaran</div>\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($json.body.data.paymentAmount || $json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n</td></tr>\n</table>\n\n<!-- TRANSACTION ID -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Transaction ID</div>\n<div style=\"font-family:monospace;font-size:14px;color:#111827;background:#f3f4f6;border:1px solid #e5e7eb;border-radius:8px;padding:10px 12px;word-break:break-all;user-select:all;\">\n{{ $json.body.data.id }}\n</div>\n</div>\n\n<!-- STATUS -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Status</div>\n<div style=\"display:inline-block;padding:4px 12px;border-radius:20px;font-size:13px;font-weight:600;color:#fff;background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};\">\n{{ $json.body.data.status }}\n</div>\n</div>\n\n<!-- CUSTOMER -->\n<div style=\"margin-top:12px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Customer</div>\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">{{ $json.body.data.customerName }}</div>\n</div>\n\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1184,
        1952
      ],
      "id": "ffee31a8-5b62-42fa-a60b-ee3b81f73a30",
      "name": "Email: Send Payin Status Notification",
      "webhookId": "9abf634a-dc2a-4fc0-b746-fb8c24faa449",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $('Webhook: Xenith Payout Callback').item.json.body.data.customerReference }}",
        "subject": "=Penarikan Saldo Berhasil – Rp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<style>\n\n@media only screen and (max-width:600px){\n\n.container{\nwidth:100% !important;\nborder-radius:0 !important;\n}\n\n.padding{\npadding:20px 16px !important;\n}\n\n.amount{\nfont-size:28px !important;\n}\n\n.header{\nfont-size:18px !important;\n}\n\n}\n\n</style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\nstyle=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr>\n<td style=\"background:#16a34a;padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n✅ Penarikan Saldo Berhasil\n</div>\n</td>\n</tr>\n\n<!-- CONTENT -->\n<tr>\n<td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\nPenarikan saldo Anda telah berhasil dilakukan dengan rincian berikut:\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr>\n<td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">\nJumlah Penarikan\n</div>\n\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n\n</td>\n</tr>\n</table>\n\n<!-- PAYOUT ID -->\n<div style=\"margin-bottom:16px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nPayout ID\n</div>\n\n<div style=\"\nfont-family: monospace;\nfont-size:14px;\ncolor:#111827;\nbackground:#f3f4f6;\nborder:1px solid #e5e7eb;\nborder-radius:8px;\npadding:10px 12px;\nword-break:break-all;\nuser-select:all;\n\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.id }}\n</div>\n\n</div>\n\n<!-- DESCRIPTION -->\n<div style=\"margin-top:12px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nKeterangan\n</div>\n\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.description }}\n</div>\n\n</div>\n\n</td>\n</tr>\n\n<!-- FOOTER -->\n<tr>\n<td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        3216
      ],
      "id": "dd72dd2b-a31d-4524-ba19-bb38258f19eb",
      "name": "Email: Send Payout Success",
      "webhookId": "a5a6a75e-4893-4587-9e25-b8e4d5dba45c",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        128,
        704
      ],
      "id": "08ae3899-ac5f-431a-adf3-8c682167785a",
      "name": "Globals: Get Payin Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "DJ97H4EGBW02zmCm",
          "name": "WeselAja Global Variables"
        }
      }
    },
    {
      "parameters": {
        "path": "create-invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        704
      ],
      "id": "5055d4aa-9c60-4a7e-b205-749802421e7a",
      "name": "Webhook: Create Invoice",
      "webhookId": "280024c9-a15d-4144-9b4d-8ec63233ffce"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        576,
        2736
      ],
      "id": "2b013522-8e8d-4178-be9a-054860caa150",
      "name": "Globals: Get Payout Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "DJ97H4EGBW02zmCm",
          "name": "WeselAja Global Variables"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Crypto: Generate Payin Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Xenith Payin": {
      "main": [
        [
          {
            "node": "Check: Has QRIS Payment Option?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has QRIS Payment Option?": {
      "main": [
        [
          {
            "node": "HTTP: Generate QRIS Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Send Invoice Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Generate QRIS Image": {
      "main": [
        [
          {
            "node": "Email: Send Invoice Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payin Requests": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payin Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payin Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payment Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payin Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Simulate Payin Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Simulate Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Simulate Payin Signature": {
      "main": [
        [
          {
            "node": "HTTP: Simulate Xenith Payin Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Simulate Payin": {
      "main": [
        [
          {
            "node": "Code: Build Simulate Payin Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payin Callback": {
      "main": [
        [
          {
            "node": "Code: Build Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payout Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Generate Payout Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payout Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Payout": {
      "main": [
        [
          {
            "node": "Globals: Get Payout Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payout Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payout Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payout Callback": {
      "main": [
        [
          {
            "node": "Code: Build Payout Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Payout Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Payout Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Payout Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payout Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payin Status Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Invoice": {
      "main": [
        [
          {
            "node": "Globals: Get Payin Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals: Get Payin Constants": {
      "main": [
        [
          {
            "node": "Postgres: Get Payment Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals: Get Payout Constants": {
      "main": [
        [
          {
            "node": "Postgres: Get Payout Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "41a3236e-8669-45da-8a60-9b2ba294c680",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd68e697f63f15d04e3ee045f2e66a3d1a3fe462f5708a19c54e73572f40074e"
  },
  "id": "MFlTr6wozJgcn8Uz",
  "tags": []
}