Xenithpay Template.json
{
  "name": "Xenithpay Template",
  "nodes": [
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1568,
        6512
      ],
      "id": "cf185da8-7d03-473e-b345-e339092c9482",
      "name": "Crypto: Generate Payin Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.sandbox.xenithpay.com/v1/payins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        6512
      ],
      "id": "751b8932-6ff1-4b7d-898e-54d4fda0d589",
      "name": "HTTP: Create Xenith Payin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35d36342-76e4-4242-8897-52333c22f746",
              "leftValue": "={{ $json.paymentMethod=== \"QR_CODE\" }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        6512
      ],
      "id": "dac77029-0ee5-471d-85e1-7a3ce61726a7",
      "name": "Check: Has QRIS Payment Option?"
    },
    {
      "parameters": {
        "url": "https://api.qrserver.com/v1/create-qr-code/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "size",
              "value": "400x400"
            },
            {
              "name": "data",
              "value": "={{ $json.paymentCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        6448
      ],
      "id": "70bb5456-24a5-481f-ac70-9f857aff6e0b",
      "name": "HTTP: Generate QRIS Image",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payin Requests\n * \n * Menyusun request body untuk pembuatan payin ke XenithPay API.\n * \n * Input:\n *   - Webhook -> initiated_amount, phone_number, referenceCode, email, customerName, description\n *   - Postgres: Get Payment Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payins\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payin Callback'\n *     yaitu /webhook/xenith-payin-sandbox. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payin tidak akan berjalan.\n *   - Ganti domain/base URL ke URL publik N8N Anda (ngrok/domain production)\n * \n * Webhook URL di N8N (node Webhook: Xenith Payin Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payin-sandbox\n *   - Production URL : http://<n8n-host>/webhook/xenith-payin-sandbox\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\n// Susun request body dari data form dan payment channel DB\nconst body = {\n  initiatedAmount: $('Webhook').first().json.query.initiated_amount,\n  currency: 'IDR',\n  paymentMethod: $input.first().json.method,\n  paymentChannel: $input.first().json.channel,\n  customerPhoneNumber: $('Webhook').first().json.query.phone_number,\n  referenceCode: $('Webhook').first().json.query.referenceCode,\n  customerReference: $('Webhook').first().json.query.email,\n  customerName: $('Webhook').first().json.query.customerName,\n  description: $('Webhook').first().json.query.description,\n  // callbackUrl harus menggunakan Production URL (/webhook/)\n  callbackUrl: 'https://harlee-phylogenetic-nonequivocally.ngrok-free.dev/webhook/xenith-payin-sandbox',\n  redirectUrl: \"https://www.weselaja.com/\",\n};\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst method = \"POST\";\nconst uri = \"/v1/payins\";\nconst timestamp = new Date().toISOString();\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {\n  json:{signaturePayload, timestamp, body}\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        6512
      ],
      "id": "648b8be5-f0c3-449d-9982-c4dff60ac7df",
      "name": "Code: Build Xenith Payin Requests"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1344,
        6512
      ],
      "id": "3fa16db1-1bf8-4705-8d1f-aaad039a48b4",
      "name": "Crypto: Create Xenith Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Invoice\n\n## Prasyarat\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payment_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payment_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payment_channels_rows.sql\n\n## Alur\nWebhook (GET) > Postgres: Get Payment Channel > Code: Build Request > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payin > Check QRIS > Email Invoice\n\n## Input (GET Query Parameters)\n- `customerName`: Nama customer\n- `email`: Email tujuan pengiriman invoice (juga dipakai sebagai customerReference)\n- `initiated_amount`: Nominal pembayaran dalam IDR (contoh: 50000)\n- `paymentName`: Nama metode pembayaran, harus sesuai kolom `name` di tabel `payment_channels` (contoh: QRIS, VA BANK MANDIRI)\n- `phone_number`: Nomor telepon customer\n- `referenceCode`: Kode referensi unik transaksi\n- `description`: Deskripsi/keterangan transaksi\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-invoice?customerName=John&email=john@mail.com&initiated_amount=50000&paymentName=QRIS&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n- **Production:** `GET /webhook/create-invoice?customerName=John&email=john@mail.com&initiated_amount=50000&paymentName=QRIS&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payins`\n- **Production:** `https://openapi.xenithpay.com/v1/payins`\nGanti URL di node `HTTP: Create Xenith Payin` saat pindah ke production.\n",
        "height": 880,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        5824
      ],
      "typeVersion": 1,
      "id": "9eafc1ba-7a3d-4176-96ea-44e357345290",
      "name": "Note: Create Invoice Flow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payment_channels",
          "mode": "list",
          "cachedResultName": "payment_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.query.paymentName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        6512
      ],
      "id": "a3eec3fa-3e78-405a-9c55-091b71fa266d",
      "name": "Postgres: Get Payment Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.customerReference }}",
        "subject": "=Invoice Pembayaran • {{ $json.customerName }} • Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color:#f6f6f6; padding:20px;\">\n  \n  <div style=\"max-width:600px; margin:auto; background:#ffffff; padding:24px; border-radius:10px;\">\n    \n    <h2 style=\"color:#333; margin-bottom:5px;\">Invoice</h2>\n    <p style=\"color:#777; font-size:14px;\">Detail transaksi Anda</p>\n\n    <!-- ID Transaksi + keterangan -->\n    <div style=\"margin-top:10px;\">\n      <p style=\"font-size:13px; color:#999; margin:0;\">\n        Transaction ID: <strong>{{$json.id}}</strong>\n      </p>\n      <p style=\"font-size:12px; color:#bbb; margin-top:3px;\">\n        Gunakan ID ini untuk simulate payin di environment sandbox.\n      </p>\n    </div>\n\n    <hr style=\"margin:20px 0;\">\n\n    <p><strong>Customer:</strong> {{$json.customerName}}</p>\n\n    <p><strong>Payment Channel:</strong> \n      {{ $('Postgres: Get Payment Channel').item.json.name }}\n    </p>\n\n    <table style=\"width:100%; border-collapse:collapse; margin-top:20px;\">\n      <tr>\n        <td style=\"padding:10px 0;\">Amount</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;\">Fee</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.feeAmount || 0)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0; border-top:1px solid #eee;\"><strong>Total</strong></td>\n        <td style=\"text-align:right; border-top:1px solid #eee;\">\n          <strong>\n            Rp {{ new Intl.NumberFormat('id-ID').format(\n              Number($json.initiatedAmount) + Number($json.feeAmount || 0)\n            ) }}\n          </strong>\n        </td>\n      </tr>\n    </table>\n\n    <!-- Conditional Payment -->\n    <div style=\"text-align:center; margin-top:20px;\">\n      \n      {{\n        $json.paymentChannel?.toUpperCase() === 'QRIS'\n        ? `<div>\n            <p style=\"font-size:14px; color:#555; margin-bottom:10px;\">\n              Scan QRIS untuk pembayaran\n            </p>\n            <img src=\"cid:data\" alt=\"QRIS\" style=\"max-width:250px; width:100%; border-radius:8px;\" />\n          </div>`\n        : `<div>\n            <p style=\"font-size:14px; color:#555; margin-bottom:8px;\">\n              Kode Pembayaran\n            </p>\n            <p style=\"font-size:20px; font-weight:bold; letter-spacing:2px;\">\n              ${$json.paymentCode || '-'}\n            </p>\n          </div>`\n      }}\n\n    </div>\n\n    <div style=\"margin-top:20px;\">\n      <strong>Description:</strong>\n      <p style=\"margin-top:5px; color:#555;\">\n        {{$json.description || '-'}}\n      </p>\n    </div>\n\n    <hr style=\"margin:25px 0;\">\n\n    <p style=\"font-size:14px; color:#666;\">\n      Terima kasih atas transaksi Anda.\n    </p>\n\n  </div>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2464,
        6512
      ],
      "id": "ecc8988a-fb48-499b-bcd2-3eeb068ae59a",
      "name": "Email: Send Invoice Payment Options",
      "webhookId": "520bc1c5-2a76-4e78-b23f-98113fc8dcc6",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Simulate Payin\n\n## Alur\nWebhook (GET) > Code: Build Simulate Payload > Crypto: Sign > HTTP: Simulate Transaction\n\n## Input (GET Query Parameters)\n- `payin_id`: Transaction ID yang didapat dari response Create Invoice (dari email invoice)\n- `transaction_status`: Status simulasi — `SUCCESS`, `FAILED`, atau `EXPIRED`\n\n## Contoh Request\n- **Test:** `GET /webhook-test/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n- **Production:** `GET /webhook/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/simulator/transaction`\n- **Production:** ❌ Tidak tersedia (simulator hanya untuk sandbox)\n\n## Status yang Didukung\n- **SUCCESS** — Pembayaran berhasil\n- **FAILED** — Pembayaran gagal\n- **EXPIRED** — Pembayaran kedaluwarsa\n",
        "height": 576,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        6768
      ],
      "typeVersion": 1,
      "id": "43eb88e9-30c5-418a-b8f5-82e5e2281d42",
      "name": "Note: Simulate Payin Flow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Simulate Payin Payload\n * \n * Menyusun request body untuk simulasi transaksi payin di sandbox.\n * \n * Input:\n *   - Webhook (GET) -> query.payin_id, query.transaction_status\n * \n * Output:\n *   - timestamp: ISO timestamp untuk header request\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - body: object request body untuk POST /v1/simulator/transaction\n * \n * Status yang didukung: SUCCESS, FAILED, EXPIRED\n */\n\nconst method = \"POST\"\nconst uri = \"/v1/simulator/transaction\"\nconst timestamp = new Date().toISOString()\n\n// Susun body simulasi dengan status yang dipilih dari query parameter\nconst body = {\n    transactionId: $input.first().json.query.payin_id,\n    transactionCategory: \"payins\",\n    transactionStatus: $input.first().json.query.transaction_status,\n}\n\n// Susun signature payload sesuai format XenithPay\nconst bodyString = JSON.stringify(body)\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${bodyString}`;\n\nreturn {timestamp, signaturePayload, body};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        7152
      ],
      "id": "58588af1-6ce1-4350-b166-86e09bb0a150",
      "name": "Code: Build Simulate Payin Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.sandbox.xenithpay.com/v1/simulator/transaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        7152
      ],
      "id": "9a6ae587-25b8-44fa-a40b-104b5eb6ac9a",
      "name": "HTTP: Simulate Xenith Payin Transaction",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1504,
        7152
      ],
      "id": "bf64ea08-bf55-4969-a884-742a230a69b1",
      "name": "Crypto: Create Simulate Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "simulate-payin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1088,
        7152
      ],
      "id": "82c479f1-d94c-4744-bc59-a76f1021acae",
      "name": "Webhook: Simulate Payin",
      "webhookId": "ce9d05e5-fd1d-4d90-b40f-12de93f1cc54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payin-sandbox",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        976,
        7776
      ],
      "id": "a218cbfc-8f0c-4671-9cc5-728d682fc4ab",
      "name": "Webhook: Xenith Payin Callback",
      "webhookId": "9670673a-82dc-48ca-8afc-001d2e970eca"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Signature Validation Payload (Payin Callback)\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payin Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payin-sandbox\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        7776
      ],
      "id": "2b6e10de-2527-498c-b40f-db3f2f7dad5e",
      "name": "Code: Build Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        7776
      ],
      "id": "e7aaccc0-743f-4477-bda9-f0d64f4526c0",
      "name": "Check: Xenith Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1424,
        7776
      ],
      "id": "cd8aceb5-4fbb-4f95-8620-dd44681e919f",
      "name": "Crypto: Create Expected Xenith Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payin\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payin-sandbox`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payin-sandbox`\n⚠️ callbackUrl di Create Invoice HARUS menggunakan **Production URL** (`/webhook/`)\n\n## Email Notifikasi\nEmail dikirim berdasarkan status: SUCCESS (hijau), FAILED (merah), EXPIRED (kuning)\n",
        "height": 576,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        7408
      ],
      "typeVersion": 1,
      "id": "f2b59913-5685-42f6-b547-05ef17df1360",
      "name": "Note: Callback Payin Flow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payout Payload\n * \n * Menyusun request body untuk pembuatan payout (disbursement) ke XenithPay API.\n * \n * Input:\n *   - Webhook (GET) -> query.amount, query.destinationPayoutAccount, query.destinationPayoutAccountName, query.email\n *   - Postgres: Get Payout Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payouts\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payout Callback'\n *     yaitu /webhook/xenith-payout-sandbox. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payout tidak akan berjalan.\n *   - Ganti domain/base URL ke URL publik N8N Anda (ngrok/domain production)\n * \n * Webhook URL di N8N (node Webhook: Xenith Payout Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payout-sandbox\n *   - Production URL : http://<n8n-host>/webhook/xenith-payout-sandbox\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\nconst method = \"POST\";\nconst uri = \"/v1/payouts\";\nconst timestamp = new Date().toISOString();\n\n// Susun request body dari data webhook query dan payout channel DB\nconst body = {\n  initiatedAmount: $('Webhook: Create Payout').first().json.query.amount,\n  currency: \"IDR\",\n  destinationPayoutMethod: $input.first().json.method,\n  destinationPayoutChannel: $input.first().json.channel,\n  destinationPayoutAccount: $('Webhook: Create Payout').first().json.query.destinationPayoutAccount,\n  destinationPayoutAccountName: $('Webhook: Create Payout').first().json.query.destinationPayoutAccountName,\n  referenceCode: \"REF-TEST-001\",\n  customerReference: $('Webhook: Create Payout').first().json.query.email,\n  description: \"Payout merchant TEST MERCHANT 2026-01-01\",\n  // callbackUrl harus menggunakan Production URL (/webhook/), bukan Test URL (/webhook-test/)\n  // dan harus cocok dengan path di node 'Webhook: Xenith Payout Callback'\n  callbackUrl: \"https://harlee-phylogenetic-nonequivocally.ngrok-free.dev/webhook/xenith-payout-sandbox\"\n}\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {json:{signaturePayload,timestamp,body}}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        8544
      ],
      "id": "9c32fb77-a216-4491-876c-a54ef178a0c7",
      "name": "Code: Build Xenith Payout Payload"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2032,
        8544
      ],
      "id": "6ab50ab5-cccd-4d21-8270-e947352c5068",
      "name": "Crypto: Generate Payout Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.sandbox.xenithpay.com/v1/payouts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        8544
      ],
      "id": "1abe2ee6-f38d-45ad-9279-cc9028e4bd2b",
      "name": "HTTP: Create Xenith Payout",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $('Code: Build Xenith Payout Payload').first().json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1808,
        8544
      ],
      "id": "4ce129c3-bd8e-462b-832a-1e7991ebf559",
      "name": "Crypto: Create Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "create-payout",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1088,
        8544
      ],
      "id": "715e10a5-0c74-475b-968c-c6fc90745164",
      "name": "Webhook: Create Payout",
      "webhookId": "019974d9-668d-4d6a-9550-a08d08e9fd0e"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payout_channels",
          "mode": "list",
          "cachedResultName": "payout_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.query.payoutName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        8544
      ],
      "id": "c46c8bdb-9f3c-4062-a06c-3899f6cb7cb8",
      "name": "Postgres: Get Payout Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payout-sandbox",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        976,
        9040
      ],
      "id": "2e4cc709-9250-43c9-887a-7c993b496035",
      "name": "Webhook: Xenith Payout Callback",
      "webhookId": "02f343a7-7616-4243-872c-1d75671fe5e5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Payout Signature Validation Payload\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request payout menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payout Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payout-sandbox\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        9040
      ],
      "id": "ecec6f06-263d-42d0-9731-e848adc3a6bd",
      "name": "Code: Build Payout Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "febd2790-ac7c-4a10-b7ec-179414c02bd3",
              "leftValue": "={{ $json.body.data.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        9040
      ],
      "id": "006a0622-4cb0-4c87-afa0-97d0540b0deb",
      "name": "Check: Xenith Payout Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1424,
        9040
      ],
      "id": "3bacd860-e349-47eb-bf74-48607c1ca60d",
      "name": "Crypto: Create Expected Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payout\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid + SUCCESS? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payout-sandbox`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payout-sandbox`\n⚠️ callbackUrl di Create Payout HARUS menggunakan **Production URL** (`/webhook/`)\n",
        "height": 448,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        8800
      ],
      "typeVersion": 1,
      "id": "fbd9322c-0757-418a-94b7-755ede704389",
      "name": "Note: Callback Payout Flow"
    },
    {
      "parameters": {
        "content": "# Payout\n\n## Prasyarat\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payout_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payout_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payout_channels_rows.sql\n\n## Alur\nWebhook (GET) > Postgres: Get Payout Channel > Code: Build Payload > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payout\n\n## Input (GET Query Parameters)\n- `amount`: Nominal penarikan dalam IDR (contoh: 100000)\n- `payoutName`: Nama metode payout, harus sesuai kolom `name` di tabel `payout_channels` (contoh: Bank Central Asia (BCA), DANA)\n- `destinationPayoutAccount`: Nomor rekening/akun tujuan\n- `destinationPayoutAccountName`: Nama pemilik rekening tujuan\n- `email`: Email untuk notifikasi status payout (juga dipakai sebagai customerReference)\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-payout?amount=100000&payoutName=DANA&destinationPayoutAccount=08123456789&destinationPayoutAccountName=John&email=john@mail.com`\n- **Production:** `GET /webhook/create-payout?amount=100000&payoutName=DANA&destinationPayoutAccount=08123456789&destinationPayoutAccountName=John&email=john@mail.com`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payouts`\n- **Production:** `https://openapi.xenithpay.com/v1/payouts`\nGanti URL di node `HTTP: Create Xenith Payout` saat pindah ke production.\n",
        "height": 688,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        8048
      ],
      "typeVersion": 1,
      "id": "b2e57c1d-f648-45c2-af4f-e7b2f71ef361",
      "name": "Note: Payout Flow"
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.body.data.customerReference }}",
        "subject": "=Status Pembayaran Invoice {{ $json.body.data.customerName }} - {{ $json.body.data.status }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width:600px){\n.container{ width:100% !important; border-radius:0 !important; }\n.padding{ padding:20px 16px !important; }\n.amount{ font-size:28px !important; }\n.header{ font-size:18px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr><td align=\"center\">\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr><td style=\"background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n{{ $json.body.data.status === 'SUCCESS' ? '✅ Pembayaran Berhasil' : $json.body.data.status === 'EXPIRED' ? '⏰ Pembayaran Kedaluwarsa' : '❌ Pembayaran Gagal' }}\n</div>\n</td></tr>\n\n<!-- CONTENT -->\n<tr><td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\n{{ $json.body.data.status === 'SUCCESS' ? 'Pembayaran Anda telah berhasil diproses.' : $json.body.data.status === 'EXPIRED' ? 'Pembayaran Anda telah melewati batas waktu dan dinyatakan kedaluwarsa.' : 'Pembayaran Anda gagal diproses. Silakan coba lagi.' }}\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr><td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">Jumlah Pembayaran</div>\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($json.body.data.paymentAmount || $json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n</td></tr>\n</table>\n\n<!-- TRANSACTION ID -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Transaction ID</div>\n<div style=\"font-family:monospace;font-size:14px;color:#111827;background:#f3f4f6;border:1px solid #e5e7eb;border-radius:8px;padding:10px 12px;word-break:break-all;user-select:all;\">\n{{ $json.body.data.id }}\n</div>\n</div>\n\n<!-- STATUS -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Status</div>\n<div style=\"display:inline-block;padding:4px 12px;border-radius:20px;font-size:13px;font-weight:600;color:#fff;background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};\">\n{{ $json.body.data.status }}\n</div>\n</div>\n\n<!-- CUSTOMER -->\n<div style=\"margin-top:12px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Customer</div>\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">{{ $json.body.data.customerName }}</div>\n</div>\n\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1920,
        7760
      ],
      "id": "5a74dca4-c1c3-4723-9202-2f250a992c90",
      "name": "Email: Send Payin Status Notification",
      "webhookId": "9abf634a-dc2a-4fc0-b746-fb8c24faa449",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $('Webhook: Xenith Payout Callback').item.json.body.data.customerReference }}",
        "subject": "=Penarikan Saldo Berhasil – Rp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<style>\n\n@media only screen and (max-width:600px){\n\n.container{\nwidth:100% !important;\nborder-radius:0 !important;\n}\n\n.padding{\npadding:20px 16px !important;\n}\n\n.amount{\nfont-size:28px !important;\n}\n\n.header{\nfont-size:18px !important;\n}\n\n}\n\n</style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\nstyle=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr>\n<td style=\"background:#16a34a;padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n✅ Penarikan Saldo Berhasil\n</div>\n</td>\n</tr>\n\n<!-- CONTENT -->\n<tr>\n<td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\nPenarikan saldo Anda telah berhasil dilakukan dengan rincian berikut:\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr>\n<td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">\nJumlah Penarikan\n</div>\n\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n\n</td>\n</tr>\n</table>\n\n<!-- PAYOUT ID -->\n<div style=\"margin-bottom:16px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nPayout ID\n</div>\n\n<div style=\"\nfont-family: monospace;\nfont-size:14px;\ncolor:#111827;\nbackground:#f3f4f6;\nborder:1px solid #e5e7eb;\nborder-radius:8px;\npadding:10px 12px;\nword-break:break-all;\nuser-select:all;\n\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.id }}\n</div>\n\n</div>\n\n<!-- DESCRIPTION -->\n<div style=\"margin-top:12px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nKeterangan\n</div>\n\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.description }}\n</div>\n\n</div>\n\n</td>\n</tr>\n\n<!-- FOOTER -->\n<tr>\n<td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1936,
        9024
      ],
      "id": "ce07930b-54c9-4f36-b191-d6d326a647d4",
      "name": "Email: Send Payout Success",
      "webhookId": "a5a6a75e-4893-4587-9e25-b8e4d5dba45c",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "path": "create-invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        640,
        6512
      ],
      "id": "655d4a1b-bd73-4b6f-be73-8cd44c987551",
      "name": "Webhook",
      "webhookId": "280024c9-a15d-4144-9b4d-8ec63233ffce"
    }
  ],
  "pinData": {},
  "connections": {
    "Crypto: Generate Payin Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Xenith Payin": {
      "main": [
        [
          {
            "node": "Check: Has QRIS Payment Option?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has QRIS Payment Option?": {
      "main": [
        [
          {
            "node": "HTTP: Generate QRIS Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Send Invoice Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Generate QRIS Image": {
      "main": [
        [
          {
            "node": "Email: Send Invoice Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payin Requests": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payin Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payin Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payment Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payin Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Simulate Payin Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Simulate Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Simulate Payin Signature": {
      "main": [
        [
          {
            "node": "HTTP: Simulate Xenith Payin Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Simulate Payin": {
      "main": [
        [
          {
            "node": "Code: Build Simulate Payin Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payin Callback": {
      "main": [
        [
          {
            "node": "Code: Build Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payout Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Generate Payout Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payout Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Payout": {
      "main": [
        [
          {
            "node": "Postgres: Get Payout Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payout Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payout Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payout Callback": {
      "main": [
        [
          {
            "node": "Code: Build Payout Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Payout Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Payout Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Payout Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payout Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payin Status Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres: Get Payment Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25acfc44-09c8-46fe-b83e-eacff8f15446",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd68e697f63f15d04e3ee045f2e66a3d1a3fe462f5708a19c54e73572f40074e"
  },
  "id": "MFlTr6wozJgcn8Uz",
  "tags": []
}