Xenithpay Template.json
{
  "name": "Xenithpay Template",
  "nodes": [
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1424,
        14800
      ],
      "id": "ef791bf0-f4aa-4d0a-9f90-eaa2bcb10772",
      "name": "Crypto: Generate Payin Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals: Get Payin Constants').item.json.constants.xenithpayEndpoint }}/v1/payins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        14800
      ],
      "id": "7daa3cee-0b88-430d-9818-c8f30919c5f6",
      "name": "HTTP: Create Xenith Payin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payin Requests\n * \n * Menyusun request body untuk pembuatan payin ke XenithPay API.\n * \n * Input:\n *   - Webhook -> initiated_amount, phone_number, referenceCode, email, customerName, description\n *   - Postgres: Get Payment Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payins\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payin Callback'\n *     yaitu /webhook/xenith-payin. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payin tidak akan berjalan.\n *   - Atur callbackUrlPayin, redirectUrl, dan xenithpayEndpoint via credential 'WeselAja Global Variables'\n * \n * Webhook URL di N8N (node Webhook: Xenith Payin Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payin\n *   - Production URL : http://<n8n-host>/webhook/xenith-payin\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\n// Susun request body dari data form dan payment channel DB\nconst body = {\n  initiatedAmount: $('Webhook: Create Invoice').first().json.query.initiated_amount,\n  currency: 'IDR',\n  paymentMethod: $input.first().json.method,\n  paymentChannel: $input.first().json.channel,\n  customerPhoneNumber: $('Webhook: Create Invoice').first().json.query.phone_number,\n  referenceCode: $('Webhook: Create Invoice').first().json.query.referenceCode,\n  customerReference: $('Webhook: Create Invoice').first().json.query.email,\n  customerName: $('Webhook: Create Invoice').first().json.query.customerName,\n  description: $('Webhook: Create Invoice').first().json.query.description,\n  // callbackUrl harus menggunakan Production URL (/webhook/)\n  callbackUrl: $('Globals: Get Payin Constants').first().json.constants.callbackUrlPayin,\n  redirectUrl: $('Globals: Get Payin Constants').first().json.constants.redirectUrl,\n};\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst method = \"POST\";\nconst uri = \"/v1/payins\";\nconst timestamp = new Date().toISOString();\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {\n  json:{signaturePayload, timestamp, body}\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        14800
      ],
      "id": "2654dd0a-2a41-4d68-be82-928add5e4f6d",
      "name": "Code: Build Xenith Payin Requests"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1200,
        14800
      ],
      "id": "b0414da3-8444-480b-9a92-428b79fc3dbd",
      "name": "Crypto: Create Xenith Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Invoice\n\n## Prasyarat\n- Install community node **n8n-nodes-globals**\n- Setup credential **WeselAja Global Variables** (Tipe: Global Constants Api). Set format ke **Key-value pairs**, lalu isi:\n  `xenithpayEndpoint=https://openapi.sandbox.xenithpay.com`\n  `callbackUrlPayin=https://<ur_n8n_anda>/webhook/xenith-payin`\n  `callbackUrlPayout=https://<ur_n8n_anda>/webhook/xenith-payout`\n  `redirectUrl=https://www.weselaja.com/`\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payment_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payment_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payment_channels_rows.sql\n\n## Alur\nWebhook (GET) > Globals: Get Payin Constants > Postgres: Get Payment Channel > Code: Build Request > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payin > Email Invoice\n\n## Input (GET Query Parameters)\n- `customerName`: Nama customer\n- `email`: Email tujuan pengiriman invoice (juga dipakai sebagai customerReference)\n- `initiated_amount`: Nominal pembayaran dalam IDR (contoh: 50000)\n- `paymentChannel`: Kode channel pembayaran, harus sesuai kolom `channel` di tabel `payment_channels` (contoh: QRIS, BRI.VA)\n- `phone_number`: Nomor telepon customer\n- `referenceCode`: Kode referensi unik transaksi\n- `description`: Deskripsi/keterangan transaksi\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-invoice?customerName=John&email=example@customer.com&initiated_amount=50000&paymentChannel=BRI.VA&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n- **Production:** `GET /webhook/create-invoice?customerName=John&email=example@customer.com&initiated_amount=50000&paymentChannel=BRI.VA&phone_number=08123456789&referenceCode=REF-001&description=Pembayaran+Produk`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payins`\n- **Production:** `https://openapi.xenithpay.com/v1/payins`\nGanti Base URL via credential `WeselAja Global Variables` saat pindah ke production.\n",
        "height": 1008,
        "width": 2444
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        14016
      ],
      "typeVersion": 1,
      "id": "a84742f6-9ce9-42da-85a9-6423af6abfc4",
      "name": "Note: Create Invoice Flow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payment_channels",
          "mode": "list",
          "cachedResultName": "payment_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "channel",
              "value": "={{ $('Webhook: Create Invoice').item.json.query.paymentChannel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        14800
      ],
      "id": "2a0c313c-1b2d-416a-9e0b-1839d78b314d",
      "name": "Postgres: Get Payment Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.customerReference }}",
        "subject": "=Invoice Pembayaran • {{ $json.customerName }} • Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color:#f6f6f6; padding:20px;\">\n  \n  <div style=\"max-width:600px; margin:auto; background:#ffffff; padding:24px; border-radius:10px;\">\n    \n    <h2 style=\"color:#333; margin-bottom:5px;\">Invoice</h2>\n    <p style=\"color:#777; font-size:14px;\">Detail transaksi Anda</p>\n\n    <!-- ID Transaksi -->\n    <div style=\"margin-top:10px;\">\n      <p style=\"font-size:13px; color:#999; margin:0;\">\n        Transaction ID: <strong>{{$json.id}}</strong>\n      </p>\n      <p style=\"font-size:12px; color:#bbb; margin-top:3px;\">\n        Gunakan ID ini untuk simulate payin di environment sandbox.\n      </p>\n    </div>\n\n    <hr style=\"margin:20px 0;\">\n\n    <p><strong>Customer:</strong> {{$json.customerName}}</p>\n\n    <p><strong>Payment Channel:</strong> \n      {{ $('Postgres: Get Payment Channel').item.json.name }}\n    </p>\n\n    <table style=\"width:100%; border-collapse:collapse; margin-top:20px;\">\n      <tr>\n        <td style=\"padding:10px 0;\">Amount</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.initiatedAmount)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;\">Fee</td>\n        <td style=\"text-align:right;\">\n          Rp {{ new Intl.NumberFormat('id-ID').format(Number($json.feeAmount || 0)) }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0; border-top:1px solid #eee;\"><strong>Total</strong></td>\n        <td style=\"text-align:right; border-top:1px solid #eee;\">\n          <strong>\n            Rp {{ new Intl.NumberFormat('id-ID').format(\n              Number($json.initiatedAmount) + Number($json.feeAmount || 0)\n            ) }}\n          </strong>\n        </td>\n      </tr>\n    </table>\n\n    <!-- Payment Reference (Universal) -->\n    <div style=\"text-align:center; margin-top:20px;\">\n      <p style=\"font-size:14px; color:#555; margin-bottom:8px;\">\n        Payment Reference\n      </p>\n      <p style=\"font-size:16px; font-weight:bold; word-break:break-all;\">\n        {{$json.paymentUrl || $json.paymentCode || '-'}}\n      </p>\n    </div>\n\n    <div style=\"margin-top:20px;\">\n      <strong>Description:</strong>\n      <p style=\"margin-top:5px; color:#555;\">\n        {{$json.description || '-'}}\n      </p>\n    </div>\n\n    <hr style=\"margin:25px 0;\">\n\n    <p style=\"font-size:14px; color:#666;\">\n      Terima kasih atas transaksi Anda.\n    </p>\n\n  </div>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1952,
        14784
      ],
      "id": "8b8207e2-9fbe-4a91-b7fe-97633f91d553",
      "name": "Email: Send Invoice Payment Options",
      "webhookId": "520bc1c5-2a76-4e78-b23f-98113fc8dcc6",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Simulate Payin\n\n## Prasyarat\n- Menggunakan credential **WeselAja Global Variables** yang sudah disetup saat _Create Invoice_.\n\n## Alur\nWebhook (GET) > Globals: Get Simulate Constants > Code: Build Simulate Payload > Crypto: Sign > HTTP: Simulate Transaction\n\n## Input (GET Query Parameters)\n- `payin_id`: Transaction ID yang didapat dari response Create Invoice (dari email invoice)\n- `transaction_status`: Status simulasi — `SUCCESS`, `FAILED`, atau `EXPIRED`\n\n## Contoh Request\n- **Test:** `GET /webhook-test/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n- **Production:** `GET /webhook/simulate-payin?payin_id=txn_abc123&transaction_status=SUCCESS`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/simulator/transaction`\n- **Production:** ❌ Tidak tersedia (simulator hanya untuk sandbox)\n\n## Status yang Didukung\n- **SUCCESS** — Pembayaran berhasil\n- **FAILED** — Pembayaran gagal\n- **EXPIRED** — Pembayaran kedaluwarsa\n",
        "height": 608,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        15088
      ],
      "typeVersion": 1,
      "id": "6a056109-222a-4ec2-a2ed-41adbd947917",
      "name": "Note: Simulate Payin Flow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        1152,
        15440
      ],
      "id": "5b7d3631-b862-4151-a140-98374e3bb0e0",
      "name": "Globals: Get Simulate Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "DJ97H4EGBW02zmCm",
          "name": "WeselAja Global Variables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Simulate Payin Payload\n * \n * Menyusun request body untuk simulasi transaksi payin di sandbox.\n * \n * Input:\n *   - Webhook (GET) -> query.payin_id, query.transaction_status\n * \n * Output:\n *   - timestamp: ISO timestamp untuk header request\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - body: object request body untuk POST /v1/simulator/transaction\n * \n * Status yang didukung: SUCCESS, FAILED, EXPIRED\n */\n\nconst method = \"POST\"\nconst uri = \"/v1/simulator/transaction\"\nconst timestamp = new Date().toISOString()\n\n// Susun body simulasi dengan status yang dipilih dari query parameter\nconst body = {\n    transactionId: $input.first().json.query.payin_id,\n    transactionCategory: \"payins\",\n    transactionStatus: $input.first().json.query.transaction_status,\n}\n\n// Susun signature payload sesuai format XenithPay\nconst bodyString = JSON.stringify(body)\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${bodyString}`;\n\nreturn {timestamp, signaturePayload, body};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        15440
      ],
      "id": "c97b1f90-79bc-448b-982f-cc4593866a22",
      "name": "Code: Build Simulate Payin Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals: Get Simulate Constants').first().json.constants.xenithpayEndpoint }}/v1/simulator/transaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        15440
      ],
      "id": "f7472786-cbb1-4149-b1c0-e033e5d75b7e",
      "name": "HTTP: Simulate Xenith Payin Transaction",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1536,
        15440
      ],
      "id": "55cd8980-fce6-4915-8fa4-fcec3da6bdf3",
      "name": "Crypto: Create Simulate Payin Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "simulate-payin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        960,
        15440
      ],
      "id": "3a38fad3-8a84-4130-9f21-41dccbde35c0",
      "name": "Webhook: Simulate Payin",
      "webhookId": "ce9d05e5-fd1d-4d90-b40f-12de93f1cc54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        16144
      ],
      "id": "7ccb9731-a8cb-4158-869f-7e697350354c",
      "name": "Webhook: Xenith Payin Callback",
      "webhookId": "9670673a-82dc-48ca-8afc-001d2e970eca"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Signature Validation Payload (Payin Callback)\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payin Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payin\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        16144
      ],
      "id": "84c5253c-fbf6-4acb-9cc7-3492a6a36cef",
      "name": "Code: Build Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        16144
      ],
      "id": "8e0e2e28-e033-48c0-9b54-07df31baddc8",
      "name": "Check: Xenith Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1040,
        16144
      ],
      "id": "a977faac-2cd6-4bc6-86b0-826060c60bd6",
      "name": "Crypto: Create Expected Xenith Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payin\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payin`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payin`\n⚠️ callbackUrlPayin di Create Invoice HARUS menggunakan **Production URL** (`/webhook/`)\n\n## Email Notifikasi\nEmail dikirim berdasarkan status: SUCCESS (hijau), FAILED (merah), EXPIRED (kuning)\n",
        "height": 576,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        15776
      ],
      "typeVersion": 1,
      "id": "cdaaece2-7879-4c21-8e8d-cacd4667f708",
      "name": "Note: Callback Payin Flow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Xenith Payout Payload\n * \n * Menyusun request body untuk pembuatan payout (disbursement) ke XenithPay API.\n * \n * Input:\n *   - Webhook (GET) -> query.amount, query.destinationPayoutAccount, query.destinationPayoutAccountName, query.email\n *   - Postgres: Get Payout Channel -> method, channel\n * \n * Output:\n *   - signaturePayload: string payload yang akan di-sign dengan HMAC-SHA256\n *   - timestamp: ISO timestamp untuk header Xenith-Request-Timestamp\n *   - body: object request body untuk POST /v1/payouts\n * \n * Catatan:\n *   - customerReference diisi dengan email sebagai contoh (bisa diganti identifier lain)\n *   - callbackUrl HARUS mengarah ke path yang sama dengan node 'Webhook: Xenith Payout Callback'\n *     yaitu /webhook/xenith-payout. Jika tidak cocok, callback dari XenithPay\n *     tidak akan diterima dan flow Callback Payout tidak akan berjalan.\n *   - Atur callbackUrlPayout, redirectUrl, dan xenithpayEndpoint via credential 'WeselAja Global Variables'\n * \n * Webhook URL di N8N (node Webhook: Xenith Payout Callback):\n *   - Test URL       : http://<n8n-host>/webhook-test/xenith-payout\n *   - Production URL : http://<n8n-host>/webhook/xenith-payout\n *   callbackUrl HARUS menggunakan format Production URL (/webhook/), bukan Test URL\n *   (/webhook-test/), karena XenithPay mengirim callback saat workflow aktif (production mode).\n *   Test URL hanya aktif saat klik 'Listen for test event' di N8N UI.\n */\n\nconst method = \"POST\";\nconst uri = \"/v1/payouts\";\nconst timestamp = new Date().toISOString();\n\n// Susun request body dari data webhook query dan payout channel DB\nconst body = {\n  initiatedAmount: $('Webhook: Create Payout').first().json.query.amount,\n  currency: \"IDR\",\n  destinationPayoutMethod: $input.first().json.method,\n  destinationPayoutChannel: $input.first().json.channel,\n  destinationPayoutAccount: $('Webhook: Create Payout').first().json.query.destinationPayoutAccount,\n  destinationPayoutAccountName: $('Webhook: Create Payout').first().json.query.destinationPayoutAccountName,\n  referenceCode: \"REF-TEST-001\",\n  customerReference: $('Webhook: Create Payout').first().json.query.email,\n  description: \"Payout merchant TEST MERCHANT 2026-01-01\",\n  // callbackUrl harus menggunakan Production URL (/webhook/), bukan Test URL (/webhook-test/)\n  // dan harus cocok dengan path di node 'Webhook: Xenith Payout Callback'\n  callbackUrl: $('Globals: Get Payout Constants').first().json.constants.callbackUrlPayout\n}\n\n// Susun signature payload sesuai format XenithPay: METHOD\\nURI\\nTIMESTAMP\\nBODY\nconst signaturePayload = `${method}\\n${uri}\\n${timestamp}\\n${JSON.stringify(body)}`;\n\nreturn {json:{signaturePayload,timestamp,body}}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        16992
      ],
      "id": "339950e2-8b10-4a82-b7ef-e93051aea895",
      "name": "Code: Build Xenith Payout Payload"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "QRIdempotencyKey"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1888,
        16992
      ],
      "id": "6b7594e2-ed1b-4626-bb2d-758b39ed4aa0",
      "name": "Crypto: Generate Payout Idempotency Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals: Get Payout Constants').item.json.constants.xenithpayEndpoint }}/v1/payouts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Xenith-Request-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Xenith-Request-Signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.QRIdempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        16992
      ],
      "id": "fc699602-0136-4935-b8ad-cccaf2c26e0b",
      "name": "HTTP: Create Xenith Payout",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiicjXYlrI4Wv2fB",
          "name": "Xenith-Api-Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $('Code: Build Xenith Payout Payload').first().json.signaturePayload }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1664,
        16992
      ],
      "id": "49c36ad1-5e6c-43e1-85f9-b01c6dfdc7de",
      "name": "Crypto: Create Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "qlnI2lE8OOmNnjNE",
          "name": "Xenith-Secret-Key"
        }
      }
    },
    {
      "parameters": {
        "path": "create-payout",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        16992
      ],
      "id": "55340dee-699c-4618-8322-af619e8d43e8",
      "name": "Webhook: Create Payout",
      "webhookId": "019974d9-668d-4d6a-9550-a08d08e9fd0e"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payout_channels",
          "mode": "list",
          "cachedResultName": "payout_channels"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "channel",
              "value": "={{ $('Webhook: Create Payout').item.json.query.payoutChannel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        16992
      ],
      "id": "d2e08f5c-d457-42fb-993d-095d7ae40b3a",
      "name": "Postgres: Get Payout Channel",
      "credentials": {
        "postgres": {
          "id": "76wpseHZgIlGdW8h",
          "name": "database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xenith-payout",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        17504
      ],
      "id": "6046a8d5-7dfb-4e2e-8d82-6179c7e75d7b",
      "name": "Webhook: Xenith Payout Callback",
      "webhookId": "02f343a7-7616-4243-872c-1d75671fe5e5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code: Build Payout Signature Validation Payload\n * \n * Mengekstrak data dari webhook callback XenithPay untuk\n * memvalidasi keaslian request payout menggunakan signature matching.\n * \n * Input:\n *   - Webhook: Xenith Payout Callback -> headers, body\n * \n * Output:\n *   - method: HTTP method yang digunakan (POST)\n *   - uri: webhook path yang menerima callback\n *   - body: request body dari XenithPay\n *   - xenithSignature: signature dari header x-xenith-signature\n *   - xenithTimestamp: timestamp dari header x-xenith-timestamp\n * \n * Catatan: xenithSignature akan dibandingkan dengan expected signature\n * yang di-generate di node berikutnya untuk validasi keaslian.\n */\n\nconst method = \"POST\"\nconst uri = \"/webhook/xenith-payout\";\n\n// Ekstrak signature dan timestamp dari header webhook\nreturn {\n          method,\n          uri,\n          body: $json.body,\n          xenithSignature: $input.first().json.headers['x-xenith-signature'],\n          xenithTimestamp: $input.first().json.headers['x-xenith-timestamp'],\n       }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        17504
      ],
      "id": "1ec644fd-9250-464b-b3b1-2931399fe122",
      "name": "Code: Build Payout Signature Validation Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4e53e4-aaa4-48f6-aed9-206dd72a089a",
              "leftValue": "={{ $json.xenithSignature }}",
              "rightValue": "={{ $json.expected_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "febd2790-ac7c-4a10-b7ec-179414c02bd3",
              "leftValue": "={{ $json.body.data.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        17504
      ],
      "id": "03d60c04-b9ee-4d5a-b9ff-ceb63834fd5e",
      "name": "Check: Xenith Payout Signature Valid?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{`${$json.method}\\\\n${$json.uri}\\\\n${\n     $json.body.toJsonString()  || \"\"\n    }\\\\n${$json.body.timestamp}`}}",
        "dataPropertyName": "expected_signature",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1040,
        17504
      ],
      "id": "8b463a11-aa4d-4de0-9d6b-c242bfb3e8fa",
      "name": "Crypto: Create Expected Xenith Payout Signature",
      "credentials": {
        "crypto": {
          "id": "xrqVdMFvQVdThaBu",
          "name": "xenith-web-signature-secret"
        }
      }
    },
    {
      "parameters": {
        "content": "# Callback Payout\n\n## Alur\nWebhook > Code: Build Validation Payload > Crypto: Expected Signature > Check: Valid + SUCCESS? > Email Notification\n\n## Webhook URL (N8N)\n- **Test URL:** `http://<n8n-host>/webhook-test/xenith-payout`\n- **Production URL:** `http://<n8n-host>/webhook/xenith-payout`\n⚠️ callbackUrlPayout di Create Payout HARUS menggunakan **Production URL** (`/webhook/`)\n",
        "height": 448,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        17264
      ],
      "typeVersion": 1,
      "id": "1063031f-a801-4abd-b98e-48bc1f0ab234",
      "name": "Note: Callback Payout Flow"
    },
    {
      "parameters": {
        "content": "# Payout\n\n## Prasyarat\n- Install community node **n8n-nodes-globals**\n- Setup credential **WeselAja Global Variables** *(Jika sudah setup di tahap Create Invoice, lewati langkah ini)*\n- Buat credential **PostgreSQL** di N8N (Settings > Credentials)\n- Buat tabel `payout_channels` dengan kolom: `id`, `method`, `channel`, `name`, `created_at`\n- Seed data dari file `payout_channels_rows.sql` pada https://github.com/RudyThongWeselAja/N8NWeselAja/blob/main/payout_channels_rows.sql\n\n## Alur\nWebhook (GET) > Globals: Get Payout Constants > Postgres: Get Payout Channel > Code: Build Payload > Crypto: Sign > Crypto: Idempotency > HTTP: Create Payout\n\n## Input (GET Query Parameters)\n- `amount`: Nominal penarikan dalam IDR (contoh: 100000)\n- `payoutChannel`: Kode channel payout, harus sesuai kolom `channel` di tabel `payout_channels` (contoh: BCA, CENAIDJA)\n- `destinationPayoutAccount`: Nomor rekening/akun tujuan\n- `destinationPayoutAccountName`: Nama pemilik rekening tujuan\n- `email`: Email untuk notifikasi status payout (juga dipakai sebagai customerReference)\n\n## Contoh Request\n- **Test:** `GET /webhook-test/create-payout?amount=100000&payoutChannel=CENAIDJA&destinationPayoutAccount=555563765328&destinationPayoutAccountName=Andi+Prasetyo&email=example@customer.com`\n- **Production:** `GET /webhook/create-payout?amount=100000&payoutChannel=CENAIDJA&destinationPayoutAccount=555563765328&destinationPayoutAccountName=Andi+Prasetyo&email=example@customer.com`\n\n## XenithPay API\n- **Sandbox:** `https://openapi.sandbox.xenithpay.com/v1/payouts`\n- **Production:** `https://openapi.xenithpay.com/v1/payouts`\nGanti Base URL via credential `WeselAja Global Variables` saat pindah ke production.\n",
        "height": 736,
        "width": 2236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        16448
      ],
      "typeVersion": 1,
      "id": "25577a29-dfaa-4edc-aeaa-4e90ea801ff0",
      "name": "Note: Payout Flow"
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $json.body.data.customerReference }}",
        "subject": "=Status Pembayaran Invoice {{ $json.body.data.customerName }} - {{ $json.body.data.status }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width:600px){\n.container{ width:100% !important; border-radius:0 !important; }\n.padding{ padding:20px 16px !important; }\n.amount{ font-size:28px !important; }\n.header{ font-size:18px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr><td align=\"center\">\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr><td style=\"background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n{{ $json.body.data.status === 'SUCCESS' ? '✅ Pembayaran Berhasil' : $json.body.data.status === 'EXPIRED' ? '⏰ Pembayaran Kedaluwarsa' : '❌ Pembayaran Gagal' }}\n</div>\n</td></tr>\n\n<!-- CONTENT -->\n<tr><td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\n{{ $json.body.data.status === 'SUCCESS' ? 'Pembayaran Anda telah berhasil diproses.' : $json.body.data.status === 'EXPIRED' ? 'Pembayaran Anda telah melewati batas waktu dan dinyatakan kedaluwarsa.' : 'Pembayaran Anda gagal diproses. Silakan coba lagi.' }}\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr><td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">Jumlah Pembayaran</div>\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($json.body.data.paymentAmount || $json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n</td></tr>\n</table>\n\n<!-- TRANSACTION ID -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Transaction ID</div>\n<div style=\"font-family:monospace;font-size:14px;color:#111827;background:#f3f4f6;border:1px solid #e5e7eb;border-radius:8px;padding:10px 12px;word-break:break-all;user-select:all;\">\n{{ $json.body.data.id }}\n</div>\n</div>\n\n<!-- STATUS -->\n<div style=\"margin-bottom:16px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Status</div>\n<div style=\"display:inline-block;padding:4px 12px;border-radius:20px;font-size:13px;font-weight:600;color:#fff;background:{{ $json.body.data.status === 'SUCCESS' ? '#16a34a' : $json.body.data.status === 'EXPIRED' ? '#d97706' : '#dc2626' }};\">\n{{ $json.body.data.status }}\n</div>\n</div>\n\n<!-- CUSTOMER -->\n<div style=\"margin-top:12px;\">\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Customer</div>\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">{{ $json.body.data.customerName }}</div>\n</div>\n\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1536,
        16128
      ],
      "id": "77f72a00-cbaf-4c30-9c26-da40d7410672",
      "name": "Email: Send Payin Status Notification",
      "webhookId": "9abf634a-dc2a-4fc0-b746-fb8c24faa449",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cs@weselaja.com",
        "toEmail": "={{ $('Webhook: Xenith Payout Callback').item.json.body.data.customerReference }}",
        "subject": "=Penarikan Saldo Berhasil – Rp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}",
        "html": "=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<style>\n\n@media only screen and (max-width:600px){\n\n.container{\nwidth:100% !important;\nborder-radius:0 !important;\n}\n\n.padding{\npadding:20px 16px !important;\n}\n\n.amount{\nfont-size:28px !important;\n}\n\n.header{\nfont-size:18px !important;\n}\n\n}\n\n</style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table class=\"container\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\nstyle=\"max-width:520px;background:#ffffff;border-radius:14px;border:1px solid #e5e7eb;overflow:hidden;\">\n\n<!-- HEADER -->\n<tr>\n<td style=\"background:#16a34a;padding:26px;text-align:center;\">\n<div class=\"header\" style=\"color:#ffffff;font-size:20px;font-weight:600;\">\n✅ Penarikan Saldo Berhasil\n</div>\n</td>\n</tr>\n\n<!-- CONTENT -->\n<tr>\n<td class=\"padding\" style=\"padding:28px;\">\n\n<p style=\"margin:0 0 18px 0;font-size:15px;color:#374151;line-height:1.6;\">\nPenarikan saldo Anda telah berhasil dilakukan dengan rincian berikut:\n</p>\n\n<!-- AMOUNT BOX -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0;\">\n<tr>\n<td style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:22px;text-align:center;\">\n\n<div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">\nJumlah Penarikan\n</div>\n\n<div class=\"amount\" style=\"font-size:34px;font-weight:700;color:#111827;\">\nRp {{ Number($('Webhook: Xenith Payout Callback').item.json.body.data.initiatedAmount || 0).toLocaleString('id-ID') }}\n</div>\n\n</td>\n</tr>\n</table>\n\n<!-- PAYOUT ID -->\n<div style=\"margin-bottom:16px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nPayout ID\n</div>\n\n<div style=\"\nfont-family: monospace;\nfont-size:14px;\ncolor:#111827;\nbackground:#f3f4f6;\nborder:1px solid #e5e7eb;\nborder-radius:8px;\npadding:10px 12px;\nword-break:break-all;\nuser-select:all;\n\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.id }}\n</div>\n\n</div>\n\n<!-- DESCRIPTION -->\n<div style=\"margin-top:12px;\">\n\n<div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">\nKeterangan\n</div>\n\n<div style=\"font-size:14px;color:#111827;line-height:1.6;\">\n{{ $('Webhook: Xenith Payout Callback').item.json.body.data.description }}\n</div>\n\n</div>\n\n</td>\n</tr>\n\n<!-- FOOTER -->\n<tr>\n<td style=\"background:#f9fafb;padding:18px;text-align:center;font-size:12px;color:#6b7280;border-top:1px solid #e5e7eb;\">\nEmail ini merupakan notifikasi otomatis dari sistem.<br>\nTerima kasih telah menggunakan layanan kami.\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1552,
        17488
      ],
      "id": "b5e29e9f-9fc1-4c5c-97c3-1c1176474f2c",
      "name": "Email: Send Payout Success",
      "webhookId": "a5a6a75e-4893-4587-9e25-b8e4d5dba45c",
      "credentials": {
        "smtp": {
          "id": "EouNnSonUqsoN7Tl",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        496,
        14800
      ],
      "id": "97fd8e57-8418-4fb4-96d1-e910804993df",
      "name": "Globals: Get Payin Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "DJ97H4EGBW02zmCm",
          "name": "WeselAja Global Variables"
        }
      }
    },
    {
      "parameters": {
        "path": "create-invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        14800
      ],
      "id": "31f3e45e-65d9-4217-89c4-5f793409537d",
      "name": "Webhook: Create Invoice",
      "webhookId": "280024c9-a15d-4144-9b4d-8ec63233ffce"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        992,
        16992
      ],
      "id": "d9e0d0d1-083a-4958-8d3f-9aa57a44864c",
      "name": "Globals: Get Payout Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "DJ97H4EGBW02zmCm",
          "name": "WeselAja Global Variables"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Crypto: Generate Payin Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Xenith Payin": {
      "main": [
        [
          {
            "node": "Email: Send Invoice Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payin Requests": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payin Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payin Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payment Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payin Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Simulate Payin Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Simulate Payin Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Simulate Payin Signature": {
      "main": [
        [
          {
            "node": "HTTP: Simulate Xenith Payin Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Simulate Payin": {
      "main": [
        [
          {
            "node": "Globals: Get Simulate Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals: Get Simulate Constants": {
      "main": [
        [
          {
            "node": "Code: Build Simulate Payin Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payin Callback": {
      "main": [
        [
          {
            "node": "Code: Build Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Xenith Payout Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Generate Payout Idempotency Key": {
      "main": [
        [
          {
            "node": "HTTP: Create Xenith Payout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Crypto: Generate Payout Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Payout": {
      "main": [
        [
          {
            "node": "Globals: Get Payout Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Payout Channel": {
      "main": [
        [
          {
            "node": "Code: Build Xenith Payout Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Xenith Payout Callback": {
      "main": [
        [
          {
            "node": "Code: Build Payout Signature Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Payout Signature Validation Payload": {
      "main": [
        [
          {
            "node": "Crypto: Create Expected Xenith Payout Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: Create Expected Xenith Payout Signature": {
      "main": [
        [
          {
            "node": "Check: Xenith Payout Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Payout Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payout Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Xenith Signature Valid?": {
      "main": [
        [
          {
            "node": "Email: Send Payin Status Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Invoice": {
      "main": [
        [
          {
            "node": "Globals: Get Payin Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals: Get Payin Constants": {
      "main": [
        [
          {
            "node": "Postgres: Get Payment Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals: Get Payout Constants": {
      "main": [
        [
          {
            "node": "Postgres: Get Payout Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c1e1b779-0d45-482d-b839-79e11fe9294b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd68e697f63f15d04e3ee045f2e66a3d1a3fe462f5708a19c54e73572f40074e"
  },
  "id": "MFlTr6wozJgcn8Uz",
  "tags": []
}